body {
    background-color: rgb(30, 29, 29);
    color: white;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  .logo {
    height: 180px;
    width: 210px;
  }

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }